.user-panel {
    background-color: #f9f9f9;
    height: calc(100vh - 84px);
    padding-top: 80px;
}

.left-side {
    max-height: calc(100vh - 100px);
    overflow: auto;
}

.main-wrapper {
    background-color: white;
}

.adlist-wrapper {
    height: 80px;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.adlist-wrapper:hover {
    background-color: #fafafa;
}

.adlist-wrapper p {
    margin-top: 10px;
    font-weight: bold;
}

.span-user {
    position: absolute;
    bottom: 5px;
    left: 5px
}

.span-address {
    position: absolute;
    bottom: 5px;
    right: 5px
}

.adWrapper {
    margin-top: 70px;
    height: calc(100vh - 154px);
    padding: 20px;
}

.adWrapper-header {
    margin-bottom: 50px;
}

.adWrapper-insideParagraph {
    text-align: left;
}

.adWrapper-details {

}

.adWrapper-description {
    margin-bottom: 50px;
    height: 100px;
}

.insideSpan-1 {
    width: 30%;
    margin-left: 10%;
    display: inline-block;
}

.insideSpan-2 {
    width: 50%;
}

.addNewAdWrapper {
    position: absolute;
    bottom: 100px;
    right: 250px;
}

.addNewAdWrapper button {
    background-color: #2d6033;
    padding: 20px 40px;
}

.addNewAdWrapper button:hover {
    background-color: #2d6033;
}

.addNewAdWrapper button:focus {
    background-color: #2d6033;
}

.backrgroundGreen {
    background-color: #2d6033;
}

.addAdButtonConfirmed {
    width: 100%;
    background-color: #2d6033;
    height: 40px;
    border-radius: 5px;
    color: white
}

.actionSuccess {
    position: fixed;
    bottom: 250px;
    left: 100px;
    width: 300px;
    height: 100px;
    padding-top: 80px;
}

.separator {
    height: 1px;
    width: 80%;
    margin-left: 20%;
    background-color: #e5e5e5;
    position: absolute;
    bottom: 0px;
}

.checkAsFinished {
    margin-top: 50px;
}

.checkAsFinished button {
    background-color: #296325;
    padding: 20px 40px;
    width: 300px;
}

.getTaskButton {
    height: 50px;
    background-color: #3c5a85;
    color: white;
    border-radius: 3px;
    margin-top:50px;
    width: 130px;
    margin-bottom: 30px;
}

.green {
    color: black;
}

.blue {
    color: #3c5a85;
}

.nav-link {
    color: #2c3e50;
    font-weight: bold;
    padding: 0;
}

.searchInput {
    width: 40%;
    z-index: 10;
    cursor: pointer;
    display: block;
    margin-top: -55px;
    position: fixed;
}

.searchInput input {
    z-index: 10001;
    display: block;
}

.searchIcon {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 10001;
    cursor: pointer;
}

.legend {
    padding-top: 30px;
}

.blue-legend{
    width: 15px;
    height: 15px;
    background-color: #3c5a85;
    display: inline-block;
    margin-right: 30px;
    margin-top: 2px;
    border-radius: 50%;
}

.green-legend{
    width: 15px;
    height: 15px;
    background-color: black;
    display: inline-block;
    margin-right: 30px;
    margin-top: 2px;
    border-radius: 50%;
    margin-left: 30px;
}

.iconCheckWrapper {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #2c3e50;
}